<div ng-cloak <% if action_name!="edit" %> ng-app="answer"<% end %> class="container-fluid less-margin" style="font-size:145%">
	<div class="container-fluid less-margin real-answer-container" <% if action_name!="edit" %> ng-controller="answer as answer_scope" <% end %>>
		<%if @answer.translation_needed == "NO"%>
			<br>
		<% end %>
		<% if action_name=="edit" %>
			<div class="container">
				<div class="container">
					<div class="btn-group btn-group-lg">
						<a ng-hide="answer_scope.edit_answer==false && answer_scope.add_steps==false" bs-tooltip="answer_scope.tooltip['back']" ng-click="answer_scope.edit_view_page()" class="btn btn-default  add_steps"><i class="fa fa-chevron-circle-left"></i></a>
						<a ng-hide="answer_scope.edit_answer== true"  bs-tooltip="answer_scope.tooltip['edit']" ng-click="answer_scope.edit_view_page('edit_answer')" class="btn btn-default "><i class="fa fa-pencil-square"></i></a>
						<a  ng-hide="answer_scope.add_steps== true" bs-tooltip="answer_scope.tooltip['add']" ng-click="answer_scope.edit_view_page('add_steps')" class="btn btn-default  add_steps"><i class="fa fa-plus-square"></i></a>
						<a class="btn btn-default" bs-tooltip="answer_scope.tooltip['code']" href="/answers/<%=@answer.id%>/code"><i class="fa fa-file-code-o"></i></a>
						<a class="btn btn-default" bs-tooltip="answer_scope.tooltip['preview']" href="/answers/<%=@answer.id%>/answer"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div>
		<% end %>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<% if !@answer.tagline.blank? %>
			<strong class="clearfix text-uppercase h6 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<span ng-show="answer_scope.language ==&#39;en&#39;" style="font-size:large"><%=@answer.clean_tagline%></span>
			</strong>
			<% end %>
			<% @steps.each_with_index do |step,index|%>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<% if index!=0%>
				<br class="hidden-xs hidden-sm"><br>
				<% end %>
				<% if step.step_type=='Step' %>
				<h2 class="inst answer text-uppercase"><strong>Step <%= step.step_number%></strong></h2>
				<% end %>
				<p><%= step.clean_step%></p>
				<br>
				<p class="text-center">
					<img class="img-responsive" style="max-height:400px" src="<%= if step.image_upload.blank? then "//"+step.image else step.image_upload end%>">
				</p>
			</div>
			<% end %>
		</div>
		<% if @answer.translation_needed.end_with?('COMPLETE)')%>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<% if !@answer.tagline_jp.blank? %>
			<strong class="clearfix text-uppercase h6 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<span ng-show="answer_scope.language ==&#39;jp&#39;" style="font-size:large"><%=@answer.clean_tagline_jp%></span>
			</strong>
			<% end %>
			<% @steps.each_with_index do |step,index|%>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<% if index!=0%>
				<br class="hidden-xs hidden-sm"><br>
				<% end %>
				<% if step.step_type=='Step' %>
				<h2 class="inst answer text-uppercase"><strong>Step <%= step.step_number%></strong></h2>
				<% end %>
				<p><%= step.clean_step_jp%></p>
				<br>
				<p class="text-center">
					<img class="img-responsive" style="max-height:400px" src="<%= step.image_upload_jp%>">
				</p>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>