<div ng-cloak <% if action_name!="edit" %> ng-app="answer"<% end %> class="container<% if action_name!="alt_answer" %>-fluid<%end %> less-margin" style="font-size:145%">
	<div class="container-fluid less-margin real-answer-container" <% if action_name!="edit" %> ng-controller="answer as answer_scope" <% end %>>
		<%if !@answer.translation_needed.blank? && @answer.translation_needed == "NO"%>
			<br>
		<% end %>
		<% if action_name=="edit" %>
			<div class="container">
				<div class="container">
					<div class="btn-group btn-group-lg">
						<a ng-hide="answer_scope.edit_answer==false && answer_scope.add_steps==false" bs-tooltip="answer_scope.tooltip['back']" ng-click="answer_scope.edit_view_page()" class="btn btn-default  add_steps"><i class="fa fa-chevron-circle-left"></i></a>
						<a ng-hide="answer_scope.edit_answer== true"  bs-tooltip="answer_scope.tooltip['edit']" ng-click="answer_scope.edit_view_page('edit_answer')" class="btn btn-default "><i class="fa fa-pencil-square"></i></a>
						<a  ng-hide="answer_scope.add_steps== true" bs-tooltip="answer_scope.tooltip['add']" ng-click="answer_scope.edit_view_page('add_steps')" class="btn btn-default  add_steps"><i class="fa fa-plus-square"></i></a>
						<a class="btn btn-default" bs-tooltip="answer_scope.tooltip['code']" href="/answers/<%=@answer.id%>/code"><i class="fa fa-file-code-o"></i></a>
						<a class="btn btn-default" bs-tooltip="answer_scope.tooltip['preview']" href="/answers/<%=@answer.id%>/answer"><i class="fa fa-eye"></i></a>
					</div>
				</div>
			</div>
		<% end %>
		<div class="container">
			<a class="pointer" ng-click="answer_scope.changeLanguage('en')" ng-class="{'h6':answer_scope.language=='en'}">en</a>
			<% if @answer.translation_needed.end_with?('COMPLETE)')%> | 
			<a class="pointer" ng-click="answer_scope.changeLanguage('jp')" ng-class="{'h6':answer_scope.language=='jp'}">jp</a>
			<% end %>
			<%if !@answer.title_fr.blank?%>
			 | 
			<a class="pointer" ng-click="answer_scope.changeLanguage('fr')" ng-class="{'h6':answer_scope.language=='fr'}">fr</a>
			<% end %>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 less-margin" ng-if="answer_scope.language =='en'">
			<%if action_name=='alt_answer'%>
				<div class="container-fluid text-center text-uppercase">
					<h1><strong><%= @answer.title%></strong></h1>
					<br>
				</div>
			<% end %>
			<% if !@answer.tagline.blank? %>
			<strong class="clearfix text-uppercase h6 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<span ng-show="answer_scope.language ==&#39;en&#39;" style="font-size:large"><%=@answer.clean_tagline%></span>
			</strong>
			<% end %>
			<% @steps.each_with_index do |step,index|%>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<% if index!=0%>
				<br class="hidden-xs hidden-sm"><br>
				<% end %>
				<% if step.step_type=='Step' %>
				<h2 class="inst answer text-uppercase"><strong>Step <%= step.step_number + step.offset%></strong></h2>
				<p><%= step.clean_step%></p>
				<% else%>
				<div class="text-center">
					<% if step.step_type=='Caution' %>
					<div class="inst information_new text-center">
						<i class="fa fa-3x fa-exclamation-triangle"></i>
						<%= step.clean_step%>
					</div>
					<% elsif step.step_type=='Information' %>
					<div class="inst cautiondiv_new text-center">
						<i class="fa fa-3x fa-info-circle"></i>
						</i>
						<span information_text>
							<%= step.clean_step%>
						</span>
					</div>
					<% end %>
				</div>
				<% end %>
				<br>
				<p class="text-center">
					<a href="<%= if step.image_upload.blank? then "//"+step.image else step.image_upload end%>" target="_new">
					<img class="img-responsive" style="max-height:400px" src="<%= if step.image_upload.blank? then "//"+step.image else step.image_upload end%>">
					</a>
				</p>
			</div>
			<% end %>
		</div>
		<% if @answer.translation_needed.end_with?('COMPLETE)')%>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 less-margin" ng-if="answer_scope.language =='jp'">
			<%if action_name=='alt_answer'%>
				<div class="container-fluid text-center text-uppercase">
					<h1><strong><%= @answer.title_jp%></strong></h1>
					<br>
				</div>
			<% end %>
			<% if !@answer.tagline_jp.blank? %>
			<strong class="clearfix text-uppercase h6 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<span ng-show="answer_scope.language ==&#39;jp&#39;" style="font-size:large"><%=@answer.clean_tagline_jp%></span>
			</strong>
			<% end %>
			<% @steps.each_with_index do |step,index|%>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<% if index!=0%>
				<br class="hidden-xs hidden-sm"><br>
				<% end %>
				<% if step.step_type=='Step' %>
				<h2 class="inst answer text-uppercase"><strong>Step <%= step.step_number + step.offset%></strong></h2>
				<p><%= step.clean_step_jp%></p>
				<% else%>
				<div class="text-center">
					<% if step.step_type=='Caution' %>
					<div class="inst information_new text-center">
						<i class="fa fa-3x fa-exclamation-triangle"></i>
						<%= step.clean_step_jp%>
					</div>
					<% elsif step.step_type=='Information' %>
					<div class="inst cautiondiv_new text-center">
						<i class="fa fa-3x fa-info-circle"></i>
						</i>
						<span information_text>
							<%= step.clean_step_jp%>
						</span>
					</div>
					<% end %>
				</div>
				<% end %>
				<br>
				<p class="text-center">
					<img class="img-responsive" style="max-height:400px" src="<%= step.image_upload_jp%>">
				</p>
			</div>
			<% end %>
		</div>
		<% end %>
		<% if @answer.title_fr!=nil%>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 less-margin" ng-if="answer_scope.language =='fr'">
			<%if action_name=='alt_answer'%>
				<div class="container-fluid text-center text-uppercase">
					<h1><strong><%= @answer.title_fr%></strong></h1>
					<br>
				</div>
			<% end %>
			<% if !@answer.tagline_fr.blank? %>
			<strong class="clearfix text-uppercase h6 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<span ng-show="answer_scope.language ==&#39;fr&#39;" style="font-size:large"><%=@answer.clean_tagline_fr%></span>
			</strong>
			<% end %>
			<% @steps.each_with_index do |step,index|%>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<% if index!=0%>
				<br class="hidden-xs hidden-sm"><br>
				<% end %>
				<% if step.step_type=='Step' %>
				<h2 class="inst answer text-uppercase"><strong>Étape <%= step.step_number + step.offset%></strong></h2>
				<p><%= step.clean_step_fr%></p>
				<% else%>
				<div class="text-center">
					<% if step.step_type=='Caution' %>
					<div class="inst information_new text-center">
						<i class="fa fa-3x fa-exclamation-triangle"></i>
						<%= step.clean_step_fr%>
					</div>
					<% elsif step.step_type=='Information' %>
					<div class="inst cautiondiv_new text-center">
						<i class="fa fa-3x fa-info-circle"></i>
						</i>
						<span information_text>
							<%= step.clean_step_fr%>
						</span>
					</div>
					<% end %>
				</div>
				<% end %>
				<br>
				<p class="text-center">
					<img class="img-responsive" style="max-height:400px" src="<%= step.image_upload%>">
				</p>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>