<div class="container">
	<%= link_to "Back", :back%> |
	<%= link_to "Edit", edit_answer_path(@answer)%> |
	<%= link_to "Preview", preview_path(@answer)%>
	<% if @answer.translation_needed=~/YES/%>
	 | 
	<img class="pointer English" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAM1BMVEX////MAAHNAQL+/v4CApgAAJgBAZbLAQHOAADNAAT///v9/f/+//3//v/+///OAALLAAPNnw2RAAAAYElEQVQImYWMSQ6EQAwD7azdkAb+/1omjMQVW6pT2YhwDzMbvHKcnPDDN9/MVpWuVYqI5TAYOQcn+RqKgirwGklhZn9E1wxVheP3ITJFrjPnH4Ke9Vj3BwClQ3I8yG/jBm1oA1n6IJS7AAAAAElFTkSuQmCC"> | 
	<img class="pointer Japanese" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAANCAMAAABxTNVSAAAAM1BMVEX///+/v7/iCRa4goWtJi66kZS4BxK0Y2jv7++5FyDKoaSvNTzNwMGzVFmqBxGgoKCPj48z3lukAAAAP0lEQVQYlWNgxAYYGBkwAbIoIwemKCsLExs7uigzEwhwookyQQAFolxgQW50N/Dw8rEwY3Evdl8gi/JjCQYBAIMdAQwzbOq2AAAAAElFTkSuQmCC">
	<% end %>

	<textarea class="code"></textarea>
	<code class="English">
		<%= render 'partial' %>
	</code>
	<% if @answer.translation_needed=="YES"%>
		<code class="Japanese">
			<%= render 'partial_jp' %>
		</code>
	<% end %>
	<script type="text/javascript" src="/code.js"></script>
	<script type="text/javascript">
		function scrollTop(elemSelector){
		  $('html, body').animate({
		        scrollTop: $(elemSelector).offset().top-80
		    }, 1000)
		};
		scrollTop("body");
	</script>
</div>