<%= link_to "Back", :back%> |
<%= link_to "Edit", edit_answer_path(@answer)%> |
<%= link_to "Preview", preview_path(@answer)%>
<textarea class="code"></textarea>
<code>

<% if @answer.series=="None"%>
	<div class="col-md-12 col-sm-12 col-xs-12 title jumbotron">
		<div class="col-md-12 col-sm-12 col-xs-12 pull-left answer-title">
			<h1 class="inst answer"><%= @answer.title%></h1>
		</div>
	</div>
<% else %>
	<div class="col-md-12 col-sm-12 col-xs-12 title jumbotron">
		<div class="col-md-7 col-sm-8  col-xs-9 pull-left answer-title">
			<h1 class="inst answer"><%= @answer.title%></h1>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-3 pull-right text-center">
			<div class="col-md-2 col-sm-2 col-xs-4"></div>
			<% if @answer.series=="QT"%>
				<img class="qtIcon img-responsive" src="//i.imgur.com/O4AEPmF.png">
			<% elsif @answer.series=="QC"%>
				<img class="qcIcon img-responsive" src="//i.imgur.com/LNcBXLp.jpg">
			<% end %>
		</div>
	</div>
<% end %>
<div class="tagline">
	<p class="text-center lead"><%= @answer.tagline%></p>
</div>
<div class="steps">
	<% @steps.each do |step|%>
		<% if step.step_type=="Step"%>
			
		<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h2 class="inst answer"><strong>STEP <%= step.number %></strong></h2>
				<p class="inst lead"><%= step.step%></p>
				<% if step.image!=""%>
					<em class="lead red"> (picture <%= step.number+step.offset %>)</em>
				<% end %>
			</div>
			<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
				<a href="#img-<%= step.id%>" class="pop">
					<img id="img-<%= step.id%>"class="img-responsive" src="//<%= step.image%>">
				</a>
				<% if step.image!=""%>
					<h2 class="inst red">PICTURE <%=step.number+step.offset%></h2>
				<% end %>
			</div>
		</div><br>
		<% elsif step.step_type=="Information"%>
			<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-5 col-sm-5 col-xs-5 information">
					<div class="col-md-4 col-sm-5 col-xs-6">
						<img class="note img-responsive" src="//i.imgur.com/4SIfsGE.png">
					</div>
						
					<h2 class="inst answer"><strong>NOTE: </strong><span class="lead"><%= step.step%></span></h2>
					
					
					<% if step.image!=""%>
						<em class="lead red"> (picture <%= step.number+step.offset %>)</em>
					<% end %>
				</div>
				<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
					<a href="#img-<%= step.id%>" class="pop">
						<img id="img-<%= step.id%>"class="img-responsive" src="//<%= step.image%>">
					</a>
					<% if step.image!=""%>
						<h2 class="inst answer red">PICTURE <%=step.number+step.offset%></h2>
					<% end %>
				</div>
			</div><br>
		<% elsif step.step_type=="Caution"%>
			<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-6 col-sm-6 col-xs-6 cautiondiv">
					<div class="col-md-2 col-sm-3 col-xs-4">
						<img class="caution img-responsive" src="//i.imgur.com/ejvODER.png">
					</div>
					<h2><strong>CAUTION: </strong><span class="lead"><%= step.step%></span></h2>
					<% if step.image!=""%>
						<em class="lead red"> (picture <%= step.number %>)</em>
					<% end %>
				</div>
				<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
					<a href="#img-<%= step.id%>" class="pop">
						<img id="img-<%= step.id%>"class="img-responsive" src="//<%= step.image%>">
					</a>
					<% if step.image!=""%>
						<h2 class="inst red">PICTURE <%=step.number%></h2>
					<% end %>
				</div>
			</div><br>
		<% end %>
	<% end %>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" class="img-responsive" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</code>
<script type="text/javascript" src="/code.js"></script>