<div class="container">
	<% @answers.each do |ans|%>
		<label>Title: </label><%=link_to ans.series+" "+ans.title, preview_path(ans)%><br>
		<label>Tagline: </label><%= if ans.tagline!='' then ans.tagline else '(blank)' end%><br>
		<table class="table sortable">
			      <thead>
			        <tr>
			        	<th>Number</th>
			        	<th>Step Instructions</th>
			        	<th>Step Type</th>
			        	<th>Image Link</th>
			        </tr>
			      </thead>
			      <tbody>
			          <% ans.steps.each do |step|%>
			          	<tr>
			          		<td><%=step.step_number%></td>
			          		<td><span class="raw"><%=step.step%></span></td>
			          		<td><span class="raw"><%=step.step_type%></span></td>
			          		<td><span class="raw"><%= if step.image != '' then step.image else step.image_upload end %></span></td>
			        	</tr>

			          <% end %>
			      </tbody>
			</table>
			<hr>
	<% end %>
</div>
<script type="text/javascript" src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script type="text/javascript">
	$(window).load(function(){
		$('table th:first-of-type').each(function(){
			$(this).click()
		})
	})
</script>