<div class="rn_AnswerDetail answerContainer" ng-app="answer" ng-controller="answer as answer_scope">
	<% content_for(:body_attributes) do %>
	    data-no-turbolink="true"
	<% end %>

	<div>
		<%= render 'angular_answer'%>
	</div>

	<div ng-show="answer_scope.edit_answer == true" remove-hidden class="edit_form hidden container">
		<%= form_for(@answer) do |f| %>
			<h2>Edit Answer</h2>
			<div class="form-group hidden">
				<%= f.label "Language:  " %>
			    <%= f.select :language, options_for_select(%w[English], f.object.language),{},{:class=>'form-control'} %>
		    </div>
			<div class="form-group">
				<%= f.label "Series:  " %>
			    <%= f.select :series, options_for_select(%w[QC QT QS QR None], f.object.series ),{},{:class=>'form-control'} %>
			</div>
			<div class="form-group">
				<%= f.label "Title:  "%><br />
			    <%= f.text_area :title, :placeholder => "Title",:class => "form-control"%>
			</div>
			<div class="form-group">
				<%= f.label "Tagline:  "%><br />
			    <%= f.text_area :tagline, :placeholder => "Tagline",:class => "form-control"%>
			</div>
			<div class="form-group">
				<%= f.label "Translation Needed?  " %>
			    <%= f.select :translation_needed, options_for_select(['YES (PICTURES NEEDED)','YES (PICTURES COMPLETE)','NO'], f.object.translation_needed ),{},{:class=>'form-control'} %>
			</div>
			    <%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.submit "Update Answer", :class => "btn btn-default" %>


		<% end %>
		<br>
	</div>
	<div ng-show="answer_scope.add_steps == true" remove-hidden class="add_steps_form hidden container ">
		<%= form_for(@step,{method: :create}) do |f| %>
			<h2 >New Step</h2>
			<div class="form-group">
				<%= f.label "Step Type:  " %>
			    <%= f.select :step_type, options_for_select(%w[Step Information Caution]),{},{:class => "form-control"} %>
		    </div>
			<div class="form-group">
				<%= f.label "Step Number:  " %>
			    <%= f.text_field :number, :value => @steps_count+1, :class => "form-control"%>
			</div>
			<div class="form-group">
				<%= f.label "Step Instruction:  "%><br />
				<div class="form-group color-options">
		            <strong><a class="bold">Bold</a></strong> | 
		            <em><a class="i">Italic</a></em> | 
		            <u><a class="u">Underline</a></u> |
		            <a class="red">Red</a> | 
		            <a class="blue">Blue</a> | 
		            <a class="green">Green</a> | 
		            <a class="lgreen">Light Green</a> | 
		            <a class="yellow">Yellow</a> |
		            <a class="orange">Orange</a> |
		            <a class="br"> Add a Break</a> |
		            <a class="cat">Caution</a> |
		            <a class="note" style="float:none">Information</a> | 
		            <a class="addLink">Add Link</a>
		        </div><br>
		            
			    <%= f.text_area :step, :placeholder => "Write your instructions here", :class => "form-control"%>
			</div>
			<div class="form-group hidden">
				<%= f.label "Step/Pictures offset  "%><br />
		    	<%= f.text_field :offset, :value => 0, :class => "form-control"%>
			</div>
	  	    <div class="form-group">
				<%= f.label :image_upload %>
	    		<%= f.file_field :image_upload, :class => "form-control"%>
	    		<%= f.hidden_field :image %>
	  	    </div>
			    <%= f.hidden_field :answer_id, :value => @answer.id %><br>
			<%= f.submit "Create Step", :class => "form-control"%>
		<% end %>
		<br><br><br>
	</div>
	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content ">
	      <div class="modal-header">
	         <h4 class="modal-title" id="myModalLabel">Add Link</h4>
	      </div>
	      <div class="modal-body">
	        <input class="href" data-toggle="tooltip" data-placement="top" data-original-title="Tooltip on top" value="//"><br><br>
	        <input class="text" placeholder="Insert Link Text"><br><br>
	        <button type="button" class="btn btn-default submit" data-dismiss="modal">Submit</button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>