<%= link_to "Back", answers_path%> |
<a href="#" class="edit_this">Edit</a> |
<a href="#" class="add_steps ">Add Step</a> |
<%= link_to "Get Code", code_path(@answer)%> |
<%= link_to "Preview", preview_path(@answer)%>
<div class="edit_form">
	<%= form_for(@answer) do |f| %>
		<h2>Edit Answer</h2>
		<div class="form-group">
			<%= f.label "Language:  " %>
		    <%= f.select :language, options_for_select(%w[English Japanese German], f.object.language) %>
	    </div>
		<div class="form-group">
			<%= f.label "Series:  " %>
		    <%= f.select :series, options_for_select(%w[QC QT None], f.object.series )%>
		</div>
		<div class="form-group">
			<%= f.label "Title:  "%><br />
		    <%= f.text_area :title, :placeholder => "Title"%>
		</div>
		<div class="form-group">
			<%= f.label "Tagline:  "%><br />
		    <%= f.text_area :tagline, :placeholder => "Tagline"%>
		</div>
		
		    <%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.submit %>


	<% end %>
	<br>
</div>
<% if @answer.series=="None"%>
	<div class="col-md-12 col-sm-12 col-xs-12 title jumbotron">
		<div class="col-md-12 col-sm-12 col-xs-12 pull-left answer-title">
			<h1 class="answer"><%= @answer.title%></h1>
		</div>
	</div>
<% else %>
	<div class="col-md-12 col-sm-12 col-xs-12 title jumbotron">
		<div class="col-md-7 col-sm-8  col-xs-9 pull-left answer-title">
			<h1 class="answer"><%= @answer.title%></h1>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-3 pull-right text-center">
			<div class="col-md-2 col-sm-2 col-xs-4"></div>
			<% if @answer.series=="QT"%>
				<img class="qtIcon img-responsive" src="">
			<% elsif @answer.series=="QC"%>
				<img class="qcIcon img-responsive" src="">
			<% end %>
		</div>
	</div>
<% end %>
<div class="tagline">
	<p class="text-center lead"><%= @answer.tagline%></p>
</div>

<div class="add_steps_form">
		<%= form_for(@step,{method: :create}) do |f| %>
		<h2 >New Step</h2>
		<div class="form-group">
			<%= f.label "Step Type:  " %>
		    <%= f.select :step_type, options_for_select(%w[Step Information Caution]) %>
	    </div>
		<div class="form-group">
			<%= f.label "Step Number:  " %>
		    <%= f.text_field :number%>
		</div>
		<div class="form-group">
			<%= f.label "Step Instruction:  "%><br />
		    <%= f.text_area :step, :placeholder => "Write your instructions here"%>
		</div>
		<div class="form-group">
			<%= f.label "Step/Pictures offset  "%><br />
	    	<%= f.text_field :offset, :value => 0%>
		</div>
		<div class="form-group">
			<input type="file" id="imageLoader" name="imageLoader" />
    		<canvas id="imageCanvas"></canvas> 
  	    </div>
		    <%= f.hidden_field :image%>
		    <%= f.hidden_field :answer_id, :value => @answer.id %><br>
		<%= f.submit %>


	<% end %>
</div>
<div class="steps">
	<% @steps.each do |step|%>
		<% if step.step_type=="Step"%>
			
		<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<h2><strong>STEP <%= step.number %></strong></h2>
				<%= link_to "Edit Step", edit_step_path(step)%> |
				<%= link_to "Delete",url_for(action: :destroy,id: step.id, controller: :steps),method: :delete, data: {confirm: "Are you sure?"} %>
				<p class="lead"><%= step.step%></p>
				<% if step.image!=""%>
					<em class="lead red"> (picture <%= step.number+step.offset %>)</em>
				<% end %>
			</div>
			<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
				<img class="img-responsive" src="<%= step.image%>">
				<% if step.image!=""%>
					<h2 class="red">PICTURE <%=step.number+step.offset%></h2>
				<% end %>
			</div>
		</div>
		<% elsif step.step_type=="Information"%>
			<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-5 col-sm-5 col-xs-5 information">
					<%= link_to "Edit Step", edit_step_path(step)%> |
					<%= link_to "Delete",url_for(action: :destroy,id: step.id, controller: :steps),method: :delete, data: {confirm: "Are you sure?"} %>
					<div class="col-md-4 col-sm-5 col-xs-6">
						<img class="note img-responsive" src="">
					</div>
						
					<h2><strong>NOTE: </strong><span class="lead"><%= step.step%></span></h2>
					
					
					<% if step.image!=""%>
						<em class="lead red"> (picture <%= step.number+step.offset %>)</em>
					<% end %>
				</div>
				<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
					<img class="img-responsive" src="<%= step.image%>">
					<% if step.image!=""%>
						<h2 class="red">PICTURE <%=step.number+step.offset%></h2>
					<% end %>
				</div>
			</div>
		<% elsif step.step_type=="Caution"%>
			<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-6 col-sm-6 col-xs-6 cautiondiv">
					<%= link_to "Edit Step", edit_step_path(step)%> |
					<%= link_to "Delete",url_for(action: :destroy,id: step.id, controller: :steps),method: :delete, data: {confirm: "Are you sure?"} %>
					<div class="col-md-3 col-sm-4 col-xs-5">
						<img class="caution img-responsive" src="">
					</div>
					<h2><strong>CAUTION: </strong><span class="lead"><%= step.step%></span></h2>
					<% if step.image!=""%>
						<em class="lead red"> (picture <%= step.number %>)</em>
					<% end %>
				</div>
				<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
					<img class="img-responsive" src="<%= step.image%>">
					<% if step.image!=""%>
						<h2 class="red">PICTURE <%=step.number%></h2>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
	
	
<div class="text-center">
	
</div>

<div>
	<% if @steps.blank? %>
		<h1 class="text-center">:) You haz no steps</h1>
	<% end %>
</div>

<script type="text/javascript" src="/edit_answer.js"></script>