<%= link_to "Back", answers_path%> |
<a href="#" class="edit_this">Edit</a> |
<a href="#" class="add_steps ">Add Step</a>
<div class="edit_form">
	<%= form_for(@answer) do |f| %>
		<h2>New Answer</h2>
		<div class="form-group">
			<%= f.label "Language:  " %>
		    <%= f.select :language, options_for_select(%w[English Japanese German]) %>
	    </div>
		<div class="form-group">
			<%= f.label "Series:  " %>
		    <%= f.select :series, options_for_select(%w[QC QT]) %>
		</div>
		<div class="form-group">
			<%= f.label "Title:  "%><br />
		    <%= f.text_area :title, :placeholder => "Title"%>
		</div>
		<div class="form-group">
			<%= f.label "Tagline:  "%><br />
		    <%= f.text_area :tagline, :placeholder => "Tagline"%>
		</div>
		
		    <%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.submit %>


	<% end %>
	<br>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 title jumbotron">
	<div class="col-md-7 col-sm-8  col-xs-9 pull-left answer-title">
		<h1><%= @answer.title%></h1>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-3 pull-right text-center square">
		<div class="col-md-2 col-sm-2 col-xs-4"></div>
		<h1 class="answer-series"><%= @answer.series%></h1><br>
		<h2 class="series">SERIES</h2>
	</div>
</div>
<div class="tagline">
	<p class="text-center lead"><%= @answer.tagline%></p>
</div>
<div class="add_steps_form">
		<%= form_for(@step,{method: :create}) do |f| %>
		<h2>New Step</h2>
		<div class="form-group">
			<%= f.label "Step Type:  " %>
		    <%= f.select :type, options_for_select(%w[Step Information Caution]) %>
	    </div>
		<div class="form-group">
			<%= f.label "Step Number:  " %>
		    <%= f.text_field :number%>
		</div>
		<div class="form-group">
			<%= f.label "Step Instruction:  "%><br />
		    <%= f.text_area :step, :placeholder => "Write your instructions here"%>
		</div>
		<div class="form-group">
			<input type="file" id="imageLoader" name="imageLoader" />
    		<canvas id="imageCanvas"></canvas> 
  	    </div>
		    <%= f.hidden_field :image%>
		    <%= f.hidden_field :answer_id, :value => @answer.id %><br>
		<%= f.submit %>


	<% end %>
</div>
<div class="steps">
	<% @steps.each do |step|%>
		<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<strong><h2>STEP <%= step.number %></h2></strong>
				<%= link_to "Edit Step", edit_step_path(step)%>
				<p class="lead"><%= step.step%></p>
				<% if step.image!=""%>
					<em class="lead red"> (picture <%= step.number %>)</em>
				<% end %>
			</div>
			<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
				<img class="img-responsive" src="<%= step.image%>">
				<% if step.image!=""%>
					<h2 class="red">PICTURE <%=step.number%></h2>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
	
	
<div class="text-center">
	
</div>

<div>
	<% if @steps.blank? %>
		<h1 class="text-center">:) You haz no steps</h1>
	<% end %>
</div>















<script type="text/javascript">

	$(document).ready(function() {  
		$("p.lead").each(function(index){
			var changes = [];
			// Create code to do key value pair swaps for the different colors and typography
			var content = $(this).text().replace(/\[red\]/g,'<span class="red">').replace(/\[\/red\]/g,'</span>');
			$(this).html(content);	
		});
		$("em.red").each(function(){
			var pLead = $(this).prev();
			console.log(pLead);
			$(this).appendTo(pLead);
		});
	});

	$("div.edit_form,div.add_steps_form").hide();	

	$("a.edit_this").click(function(){
		$("div.edit_form").toggle(1000);
	});

	$("a.add_steps").click(function(){
		$("div.add_steps_form").toggle(1000);
	});
	var canvas = new fabric.Canvas('imageCanvas', {
    	backgroundColor: 'rgb(240,240,240)'
	});

	var imageLoader = document.getElementById('imageLoader');
	imageLoader.addEventListener('change', handleImage, false);

	function handleImage(e) {
    var reader = new FileReader();
    reader.onload = function (event) {
        var img = new Image();
        img.onload = function () {
            var imgInstance = new fabric.Image(img, {
                scaleX: 1,
                scaleY: 1
            })
            canvas.add(imgInstance);
        	}
	        img.src = event.target.result;
	        $("#step_image").val(img.src);
	    }
	    reader.readAsDataURL(e.target.files[0]);
	}
</script>