<div class="answer_list col-md-6">
	<h2>Answers</h2>
	<h4>Sort by series</h4>
	<div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
      <button type="button" class="btn btn-default" id="QC">QC Series</button>
      <button type="button" class="btn btn-default" id="QT">QT Series</button>
      <button type="button" class="btn btn-default" id="QS">QS Series</button>
      <button type="button" class="btn btn-default" id="QR">QR Series</button>
      <button type="button" class="btn btn-default" id="None">Other</button>
    </div>
    <h4>Sort by language</h4>
    <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
      <button type="button" class="btn btn-default" id="English">English</button>
      <button type="button" class="btn btn-default" id="German">German</button>
      <button type="button" class="btn btn-default" id="Portuguese">Portuguese</button>
      <button type="button" class="btn btn-default" id="Japanese">Japanese</button>
      <button type="button" class="btn btn-default" id="Spanish">Spanish</button>
    </div>
    <hr>
	<div class="answerList">
		<% @answers.each do |answer| %>
			<div class="<%= answer.series %> <%= answer.language %>">
				<span><%=link_to answer.title, edit_answer_path(answer) %> | </span>
				<%=link_to "Get Code", code_path(answer) %> | 
				<%=link_to "Preview", preview_path(answer) %> |
				<a href="/spreadsheet.xls?id=<%=answer.id%>" download="<%=answer.title%>.xls">Export</a><br>
			</div>
		<% end %>
	</div>
</div>
<div class="new_answer col-md-6">
<%= form_for(@answer) do |f| %>
	<h2>Create a New Answer</h2>
	<div class="form-group">
		<%= f.label "Language:  " %>
	    <%= f.select :language, options_for_select(%w[English Japanese German Portuguese Spanish]) %>
    </div>
	<div class="form-group">
		<%= f.label "Series:  " %>
	    <%= f.select :series, options_for_select(%w[QC QT QS QR None]) %>
	</div>
	<div class="form-group">
		<%= f.label "Title:  "%><br />
	    <%= f.text_area :title, :placeholder => "Title"%>
	</div>
	<div class="form-group">
		<%= f.label "Tagline:  "%><br />
	    <%= f.text_area :tagline, :placeholder => "Tagline"%>
	</div>
	
	    <%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit %>


<% end %></div>
<script type="text/javascript">
	$(document).ready(function(){

		$('button.btn').click(function(){
			var buttonClass = "."+$(this).attr('id')+" ";
			$('div.answerList '+buttonClass).show();
			$('div.answerList div:not('+buttonClass+')').hide();
		});
	});
</script>