<div class="answer_list col-md-6">
	<h2>Answers</h2>
	<% @answers.each do |answer| %>
		<span class="lead"><%=link_to answer.title, edit_answer_path(answer) %> | </span>
		<%=link_to "Get Code", code_path(answer) %> | 
		<%=link_to "Preview", preview_path(answer) %><br>
	<% end %>
</div>
<div class="new_answer col-md-6">
<%= form_for(@answer) do |f| %>
	<h2>Create a New Answer</h2>
	<div class="form-group">
		<%= f.label "Language:  " %>
	    <%= f.select :language, options_for_select(%w[English Japanese German Portuguese]) %>
    </div>
	<div class="form-group">
		<%= f.label "Series:  " %>
	    <%= f.select :series, options_for_select(%w[QC QT None]) %>
	</div>
	<div class="form-group">
		<%= f.label "Title:  "%><br />
	    <%= f.text_area :title, :placeholder => "Title"%>
	</div>
	<div class="form-group">
		<%= f.label "Tagline:  "%><br />
	    <%= f.text_area :tagline, :placeholder => "Tagline"%>
	</div>
	
	    <%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit %>


<% end %></div>