<br><br><br><br>
<div class="container answerList margin">
	<h2>QC Series Answers</h2>
	<% @qc_answers.each do |qc_answer|%>
	<div class="<%= qc_answer.series %> small bordered">
		<input type="checkbox">
		<span class="icon "><i class="icon <%= qc_answer.series %>"></i></span>
		<%=link_to qc_answer.title, alt_angular_path(qc_answer), :target => "_blank"%><% if !qc_answer.rightnow_answer_id.blank?%> | 
		<a target="_blank" href="//qsee--tst1.custhelp.com/#/answer?a_id=<%=qc_answer.rightnow_answer_id%>">RightNow Link</a>
		<% end%>
	</div>
	<br>
	<% end %>

	<h2>QT Series Answers</h2>
	<% @qt_answers.each do |qt_answer|%>
	<div class="<%= qt_answer.series %> small bordered">
		<input type="checkbox">
		<span class="icon "><i class="icon <%= qt_answer.series %>"></i></span>
		<%=link_to qt_answer.title, alt_angular_path(qt_answer), :target => "_blank"%><% if !qt_answer.rightnow_answer_id.blank?%> | 
		<a target="_blank" href="//qsee--tst1.custhelp.com/#/answer?a_id=<%=qt_answer.rightnow_answer_id%>">RightNow Link</a>
		<% end%>
	</div>
	<br>
	<% end %>

	<h2>QR Series Answers</h2>
	<% @qr_answers.each do |qr_answer|%>
	<div class="<%= qr_answer.series %> small bordered">
		<input type="checkbox">
		<span class="icon "><i class="icon <%= qr_answer.series %>"></i></span>
		<%=link_to qr_answer.title, alt_angular_path(qr_answer), :target => "_blank"%><% if !qr_answer.rightnow_answer_id.blank?%> | 
		<a target="_blank" href="//qsee--tst1.custhelp.com/#/answer?a_id=<%=qr_answer.rightnow_answer_id%>">RightNow Link</a>
		<% end%>
	</div>
	<br>
	<% end %>
	<% if @qs_answers.size!=0%>
		<h2>QS Series Answers</h2>
		<% @qs_answers.each do |qs_answer|%>
		<div class="<%= qs_answer.series %> small bordered">
			<input type="checkbox">
			<span class="icon "><i class="icon <%= qs_answer.series %>"></i></span>
			<%=link_to qs_answer.title, alt_angular_path(qs_answer), :target => "_blank"%><% if !qs_answer.rightnow_answer_id.blank?%> | 
			<a target="_blank" href="//qsee--tst1.custhelp.com/#/answer?a_id=<%=qs_answer.rightnow_answer_id%>">RightNow Link</a>
			<% end%>
		</div>
		<br>
		<% end %>
	<% end %>

	<h2>None Series Answers</h2>
	<% @none_answers.each do |none_answer|%>
	<div class="<%= none_answer.series %> small bordered">
		<input type="checkbox">
		<span class="icon "><i class="icon <%= none_answer.series %>"></i></span>
		<%=link_to none_answer.title, alt_angular_path(none_answer), :target => "_blank"%><% if !none_answer.rightnow_answer_id.blank?%> | 
		<a target="_blank" href="//qsee--tst1.custhelp.com/#/answer?a_id=<%=none_answer.rightnow_answer_id%>">RightNow Link</a>
		<% end%>
	</div>
	<br>
	<% end %>
</div>