<%= link_to "Home", answers_path %> |
<%= link_to "Edit", edit_answer_path(@answer)%> |
<%= link_to "Get Code", code_path(@answer)%>
<code></code>
<div  class="col-md-12 col-sm-12 col-xs-12 title jumbotron">
	<div class="col-md-7 col-sm-8  col-xs-9 pull-left answer-title">
		<h1 class="answer"><%= @answer.title%></h1>
	</div>
	<div class="col-md-2 col-sm-2 col-xs-3 pull-right text-center">
		<div class="col-md-2 col-sm-2 col-xs-4"></div>
		<% if @answer.series=="QT"%>
			<img class="qtIcon img-responsive" src="">
		<% elsif @answer.series=="QC"%>
			<img class="qcIcon img-responsive" src="">
		<% end %>
	</div>
</div>
<div class="tagline">
	<p class="text-center lead"><%= @answer.tagline%></p>
</div>
<div class="steps">
	<% @steps.each do |step|%>
		<% if step.step_type=="Step"%>
			
		<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<strong><h2 class="answer">STEP <%= step.number %></h2></strong>
				<p class="lead"><%= step.step%></p>
				<% if step.image!=""%>
					<em class="lead red"> (picture <%= step.number+step.offset %>)</em>
				<% end %>
			</div>
			<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
				<img class="img-responsive" src="<%= step.image%>">
				<% if step.image!=""%>
					<h2 class="red">PICTURE <%=step.number+step.offset%></h2>
				<% end %>
			</div>
		</div>
		<% elsif step.step_type=="Information"%>
			<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-5 col-sm-5 col-xs-5 information">
					<div class="col-md-4 col-sm-5 col-xs-6">
						<img class="note img-responsive" src="">
					</div>
						
					<h2 class="answer"><strong>NOTE: </strong><span class="lead"><%= step.step%></span></h2>
					
					
					<% if step.image!=""%>
						<em class="lead red"> (picture <%= step.number+step.offset %>)</em>
					<% end %>
				</div>
				<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
					<img class="img-responsive" src="<%= step.image%>">
					<% if step.image!=""%>
						<h2 class="answer red">PICTURE <%=step.number+step.offset%></h2>
					<% end %>
				</div>
			</div>
		<% elsif step.step_type=="Caution"%>
			<div class="step-<%=step.number%> col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-6 col-sm-6 col-xs-6 cautiondiv">
					<div class="col-md-2 col-sm-3 col-xs-4">
						<img class="caution img-responsive" src="">
					</div>
					<h2><strong>CAUTION: </strong><span class="lead"><%= step.step%></span></h2>
					<% if step.image!=""%>
						<em class="lead red"> (picture <%= step.number %>)</em>
					<% end %>
				</div>
				<div class="pull-right col-md-6 col-sm-6 col-xs-6 text-center">
					<img class="img-responsive" src="<%= step.image%>">
					<% if step.image!=""%>
						<h2 class="red">PICTURE <%=step.number%></h2>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>


<script type="text/javascript" src="/code.js">
	
	