<div class="container">
	<div class="answerList">
	<% @answers.each do |answer|%>
		<div class="<%= answer.series%> <%= answer.language%>">
		<strong>Title:</strong><span> <%=answer.title%></span><br>
			<%if answer.tagline!=""%>
				<strong>Tagline:</strong><p class="string inline"> <%=answer.tagline%></p><br>
			<% end %>
		<strong>LINK:</strong> 
		<% if answer.series!="None" %>
			<%=link_to answer.title+" for the "+answer.series+" Series", preview_path(answer.id) , target: "_blank"%>
		<% else %>
			<%=link_to answer.title, preview_path(answer.id) , target: "_blank"%>
		<% end %>
		<table class="table">
		      <thead>
		        <tr>
		        	<th>#</th>
		        	<th>Step Info</th>
		        	<th>Step Type</th>
		        </tr>
		      </thead>
		      <tbody>
		          <% @steps.each do |step|%>
		          	<%if step.answer_id == answer.id%>
		          	<tr>
		          		<td><%=step.number+step.offset%></td>
		          		<td><span class="raw"><%=step.step%></span></td>
		          		<td><span class="raw"><%=step.step_type%></span></td>
		        	</tr>
		          	<% end %>
		          <% end %>
		      </tbody>
		</table>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('a.hideNav').length? $(".navbar").hide() : console.log('');
	});
</script>	
<script type="text/javascript" src="/code.js"></script>