<!DOCTYPE html>
<html>
<head>
  <title>Answerbuild</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,700,300,500|Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="//qsee.custhelp.com/euf/assets/themes/qsee/bootstrap3.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
  
  
  <%= csrf_meta_tags %>
</head>
<% if action_name == 'manual' || 'answer'%>
  <body data-no-turbolink="true" class="<%= if !@hideMe then 'preview' elsif action_name == 'answer' then 'no_marg_top' end%>">
<% else %>
  <body >
<% end %>
<% if !@hideMe%>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<ul class="nav nav-pills container" role="tablist">
  <% if current_user %>
  <li role="presentation pull-right">
    <a href="<%= if current_user.role=='ADMIN' then '/answers' else '/translation_portal' end%>">
      <img src='//i.imgur.com/2S6kiqI.png'>
    </a>
  </li>
  <li role="presentation pull-right"><%= link_to "Sign Out", logout_path(current_user), method: :delete %></li>
  <li role="presentation pull-left"><%= if current_user.role=='ADMIN' then link_to "Translations Portal", translate_index_path end%></li>
  <% end %>
</ul>
    </nav>
<% end %>
<%= yield %>

</body>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.tpl.min.js"></script>
  <script type="text/javascript" src="/answer.js"></script>  
</html>
