<!DOCTYPE html>
<html>
<head>
  <title>Answerbuild</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,700,300,500|Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
  <% if action_name == 'alt_answer'%>
  <link rel="stylesheet" type="text/css" href="//qsee.custhelp.com/euf/assets/themes/qsee/qsee.min.css">
  <% else %>
  <link rel="stylesheet" type="text/css" href="//qsee.custhelp.com/euf/assets/themes/qsee/bootstrap3.css">
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<% if action_name == 'manual' || action_name == 'answer' ||action_name == 'qsee_updates'%>
  <body data-no-turbolink="true" class="<%= if !@hideMe then 'preview' elsif action_name == 'answer' then 'no_marg_top' end%>">
<% else %>
  <body style="background:white">
<% end %>
<% if !@hideMe%>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul class="nav nav-pills container" role="tablist">
      <% if current_user %>
      <li role="presentation pull-right">
        <a href="<%= if current_user.role=='ADMIN' then '/answers' else '/translation_portal' end%>">
          <img src='//i.imgur.com/2S6kiqI.png'>
        </a>
      </li>
      <li class="presentation pull-right"><%= link_to "Sign Out", logout_path(current_user) %></li>
      <li class="presentation pull-left"><%= if current_user.role=='ADMIN' then link_to "Translations Portal", translate_index_path end%></li>
      <% end %>
    </ul>
  </nav>
<% end %>

<%= yield %>

</body>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.tpl.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
  <% if action_name!='qsee_updates'%>
    <script type="text/javascript" src="/answer.js"></script>  
  <% else %>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/sachinchoolur/angular-trix/master/dist/angular-trix.min.js"></script>
    <script type="text/javascript" src="/qsee_updates.js"></script>  
  <% end %>  
</html>
